<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="HotelsTEEContext" providerName="System.Data.SqlClient" connectionString="Azure" />
    <!--<add name="NaturalDisastersContext" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-LKFTFAT\MSSQLSERVER2017;Initial Catalog=HCH;Trusted_Connection=True;"  />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="sendEmailClearTrueRecipient" value="1" />
    <add key="sendEmailBCC" value="1" />
    <add key="bccEmail1" value="tolisgrigorakis@gmail.com" />
    <add key="bccEmail2" value="" />
    <add key="jsonPath" value="~/json/json_example.json" />
    <add key="siteBaseUrl" value="https://localhost:44300" />
    <add key="adminNotificationEmail" value="candrouts@gmail.com" />
    <!-- ════ Διαύγεια ════
         Ανενεργό μέχρι το go-live (diaugeia.enabled=0).
         Τα secrets (username/password/orgID/signerID/unitID) ΔΕΝ αποθηκεύονται εδώ —
         εγχέονται κατά το Release publish μέσω Web.Release.config (transform). -->
    <add key="diaugeia.enabled" value="0" />
    <add key="diaugeia.url" value="https://diavgeia.gov.gr/opendata" />
    <add key="diaugeia.username" value="" />
    <add key="diaugeia.password" value="" />
    <add key="diaugeia.orgID" value="" />
    <add key="diaugeia.signerID" value="" />
    <add key="diaugeia.unitID" value="" />
    <add key="diaugeia.subject" value="Βεβαίωση Περιβαλλοντικής Βιωσιμότητας" />
    <add key="diaugeia.decisionTypeID" value="2.4.7.1" />
    <add key="diaugeia.thematicCategoryID" value="40" />
    <add key="diaugeia.notifyEmail" value="androutsakis@grhotels.gr" />
    <!-- Η πραγματική τιμή ζει ΕΚΤΟΣ source control (Web.Release.config, gitignored). Συμπληρώστε τοπικά αν χρειάζεστε Azure storage σε Debug. -->
    <add key="StorageConnectionString" value="" />
    <!-- ════ SMTP ════
         Τα credentials ΔΕΝ αποθηκεύονται εδώ — μπαίνουν στα App Settings του κάθε
         Azure Web App (greencertnew & greencertai). Αν το smtp.host είναι κενό, ο
         Mailer πέφτει πίσω στο <system.net><mailSettings> (μόνο για local dev). -->
    <add key="smtp.host" value="" />
    <add key="smtp.port" value="" />
    <add key="smtp.enableSsl" value="" />
    <add key="smtp.user" value="" />
    <add key="smtp.password" value="" />
    <add key="smtp.from" value="" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off">
      <error statusCode="404" redirect="/error404.html" />
      <error statusCode="500" redirect="/error500.html" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" slidingExpiration="true" enableCrossAppRedirects="false" protection="All" />
    </authentication>
    <globalization culture="el-GR" uiCulture="el-GR" enableClientBasedCulture="true" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.6.1" maxQueryStringLength="32768" maxUrlLength="65536" maxRequestLength="1048576" />
    <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="HotelsTEEContext" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="HotelsTEEContext" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <handlers>
		<remove name="PHP_via_FastCGI"/>
		<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".kml" />
	  <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
	  <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" maxAllowedContentLength="1073741824" />
		  <fileExtensions allowUnlisted="true" >
			  <add fileExtension=".php" allowed="false" />
			  <add fileExtension=".phtml" allowed="false" />
			  <add fileExtension=".php5" allowed="false" />
			  <add fileExtension=".phar" allowed="false" />
			  <add fileExtension=".cgi" allowed="false" />
		  </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.10" newVersion="6.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp from="noreply@grhotels.gr" deliveryMethod="Network">
        <network defaultCredentials="false" enableSsl="true" host="smtp.office365.com" password="" port="587" userName="noreply@grhotels.gr" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>